<mat-card style="margin-top: 10px;" class="container">
    <mat-card-title>
        <h1>Mi a Wisconsin Card Sorting Test?</h1>
    </mat-card-title>
    <mat-card-content>
        <p>
            A Wisconsin Card Sorting Test (WCST) egy pszichológiai teszt, amely a döntéshozatal és az 
            agyi rugalmasság vizsgálatára szolgál, az ember alkalmazkodó képességét nézi változó helyzetekben.
            A tesztet Harry Harlow, David A. Grant és és tanítványuk, Esther Berg készített a Wisconsini Egyetemen 1948-ban. Innen
            is ered a teszt elnevezése.
        </p>
        <h2> WCST eljárás </h2>
        <p>
            A WCST lényege, hogy az alany különböző társítási szabályok közül - szám, szín vagy forma szerint - kell megtalálnia a megfelelő szabályt, és azt addig kell alkalmaznia, 
            amíg meg nem változik. Miután megváltozott a szabály, a személynek új szempontok alapján kell rendeznie a kártyákat.
            A teszt során figyelik a személy teljesítményét, ideértve a helyes és helytelen válaszok számát, valamint azt, hogy mennyire gyorsan reagál a változó 
            szabályokra. A kognitív rugalmasság mérése mellett a teszt eredményei segíthetnek felmérni a személy figyelem- és koncentrációs képességét, 
            az emlékezőképességet és a problémamegoldó képességet is.
        </p>
        <h2> WCST alkalmazása </h2>
        <p>
            A teszt elsősorban a frontális lebeny működésének vizsgálatára fókuszál, mivel ez az agyterület felelős a kognitív és 
            viselkedési folyamatok szabályozásáért. A frontális elváltozásokban szenvedő betegek általában nem teljesítik ezt a tesztet, 
            mivel hajlamosak ragaszkodni régi társítási szabályaikhoz.
            Ezt a tesztet széles körben használják pszichológusok, illetve neurológusok olyan betegeknél, 
            akiknek agykárosodása, neurodegeneratív betegségei (sejthalál) vannak. Ilyen állapot például a 
            stroke, Alzheimer-kór és más típusú demenciák, a skizofrénia vagy az autizmus. A teszt segít a betegségek korai felismeréséhez, illetve az eredmények alapján az orvosok képesek lehetnek 
            javasolni az egyéni kezelési és terápiás stratégiákat a betegségtől vagy rendellenességtől függően.
        </p>
        <p>
            Fontos tudni, hogy a WCST egy összetett teszt, amelyet mindig más neuropszichológiai vizsgálatokkal és klinikai jellemzőkkel kell összekapcsolni 
            annak érdekében, hogy pontosan azonosítsuk az agyi károsodás vagy rendellenesség természetét és hatását. Az eredmények önmagukban nem elegendőek a 
            diagnózis felállításához, mivel a WCST általánosan csak egy része a komplex neuropszichológiai vizsgálati folyamatnak.
        </p>     
    </mat-card-content>
</mat-card>