$bluegrey: lightslategrey;
  $white: white;

.mycard{
    flex:1;
    padding: 10px;
    margin: 5px;
    background-color: $bluegrey;
    color: $white;
    min-height: fit-content;
    min-width: fit-content;
    vertical-align: middle;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.review{
  color: black;
  flex:wrap;
  padding: 10px;
  margin: 5px;
  min-height: fit-content;
  min-width: fit-content;
  vertical-align: middle;
  text-align: left;
}
